/* .NavContainer {
    justify-content: center;
    text-align: center;
    align-items: center;
}


.navbar-collapse {
    margin-bottom: -160px;
    z-index: 1;
}
.navbar-collapse.collapse.show {
    margin-bottom: -160px;
    z-index: 1;
}
.navBar {
    margin-bottom: -87px;
    z-index: 1;
}
.collapse{
    margin: 0;
} */

/* .navContainer {
    position: relative!important;
} */


.navbar {
   background-color:  rgb(252, 205, 143);
   background-color:  rgb(252, 205, 143);
   color: black;
}

a.navbar-brand {
   color: black;
}

.navCollapse, navbar-collapse, collapse {
    color: black;
}

#basic-navbar-nav {
    color: black;
}

