/* .NavContainer {
    justify-content: center;
    text-align: center;
    align-items: center;
}


.navbar-collapse {
    margin-bottom: -160px;
    z-index: 1;
}
.navbar-collapse.collapse.show {
    margin-bottom: -160px;
    z-index: 1;
}
.navBar {
    margin-bottom: -87px;
    z-index: 1;
}
.collapse{
    margin: 0;
} */

/* .navContainer {
    position: relative!important;
} */


.navbar {
   background-color:  rgb(252, 205, 143);
   background-color:  rgb(252, 205, 143);
   color: black;
}

a.navbar-brand {
   color: black;
   font-weight: bold;
   font-size:x-large;
}

.navCollapse, navbar-collapse, collapse {
    color: black;
}

.nav-link {
    color: black;
    font-size: larger;
}

.nav-link:hover {
    color: black;
    font-weight: bold;
}

.navbar-toggler {
    color: black;
    background-color: rgb(252, 205, 143);
    border: 2px solid white;
    box-shadow: 0 0 7px black;
}

.navbar-toggler:hover {
    background-color:  rgb(252, 205, 143);
    border: 2px solid white;
    box-shadow: 0 0 5px white;
    
}

.navbar-toggler-icon {
    color: black;
}

.dropdown-menu.show {
    background-color: rgb(252, 205, 143);
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

.not-active.dropdown-item:hover {
    background-color: white;
}