.aboutCont {
    background-color:  rgb(252, 205, 143);
}

.AboutMe {
    align-self: center;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
}

.sectionHead {
    font-size: xxx-large;
    padding-bottom: 15px;
    text-shadow: 0 0 2px white;
    border-bottom: 2px solid whitesmoke;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}