/* .projectCont {
    background-color: rgb(252, 205, 143);;
}

.sectionHead {
    font-size: xx-large;
    padding-bottom: 15px;
    border-bottom: 2px solid whitesmoke;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}


.cardSolo {
    margin-bottom: 10px;    
    margin-top: 20px;
    box-shadow: 0 0 7px black;

}

.colSolo {
    display: inline-grid;
    justify-content: center;
    margin: 5px;
    align-items: center; 
}
.CardRow {
    text-align: -webkit-center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;

}
.images {
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
}

.subText {
    color: black;
    padding-bottom: 20px;
    line-height: normal;
} */