.ContactCont {
    /* justify-content: center; */
    padding-bottom: 26px;
    background-color:rgb(252, 205, 143);
}

.cardSolo {
    margin-bottom: 10px;    
    margin-top: 20px;
    box-shadow: 0 0 10px black;
    border: 1px solid white;

    /* height: 20rem;
    width: 20rem; */
}

.colSolo {
    display: inline-grid;
    justify-content: center;
    margin: 5px;
    align-items: center; 
}
.CardRow {
    text-align: -webkit-center;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;

}
.images {
    padding: 0px;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
}
.sectionHead {
    font-size: xx-large;
    padding-bottom: 15px;
    border-bottom: 2px solid whitesmoke;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
}

.resButton {
    background-color: rgb(252, 205, 143);;
    box-shadow: 0 0 7px black;
    font-weight: bold;
    color: black;
    border: 2px solid white;
}

.resButton:hover {
    background-color:rgb(252, 205, 143);
    color: black;
    border-color: white;
    box-shadow: 0 0 10px white;
}

.contactEmail {
    font-size: larger;
    font-weight: bold;
}

.contactEmail:hover {
    color:black ;
    text-shadow: 0 0 3px, rgb(252, 205, 143);
}

.modal-content {
    background-color:  rgb(252, 205, 143);
    color: black;
}

.closeBtn {
    background-color: rgb(252, 205, 143);;
    box-shadow: 0 0 7px black;
    font-weight: bold;
    color: black;
    border: 2px solid white;
}

.closeBtn:hover {
    background-color:rgb(252, 205, 143);
    color: black;
    border-color: white;
    box-shadow: 0 0 10px white;
}

@media screen and (max-width: 415px) {
    .ContactCont{
        max-width: 264px;
    }
}