
.CardRow {
    text-align: -webkit-center;
    margin-left: 10px;
    margin-right: 10px;
}

.CardCol {
    padding: 5px;
    padding-bottom: 30px;
}

.wholeCard {
    box-shadow: 0 0 15px black;
    background-color: var(--primary);
    color: black;
    border-radius: 10px;
    border: 2px solid var(--secondary);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-img, .card-img-top {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
